{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="home">
    <div class="home-hero">
        <img class="home-hero-bg" src="https://wallpapers.com/images/featured/valorant-305kescxw5dpup7y.jpg" alt="Valorant background">
        
        <div class="home-hero-content">
            <div class="home-hero-title">
                <p class="subtitle">La possibilité de personnaliser son casier à l'infini</p>
                <img src="https://cmsassets.rgpub.io/sanity/images/dsfx7636/news/7b76209193f1bfe190d3ae6ef8728328870be9c3-736x138.png?auto=format&fit=fill&q=80&w=375" alt="VALORANT">
            </div>

            <div class="button-box">
                <div class="button-mask button-mask-slide">
                    <span>Créer ton Locker</span>
                </div>
            </div>
        </div>
    </div>

    <div class="bundles_container">
        <div class="bundles_content">
            <h2>Nos derniers bundles</h2>
            <div class="bundles_grid">
                {% for bundle in bundles %}
                    <div class="bundle_item">
                        <img src="{{ bundle.displayIcon }}" alt="{{ bundle.displayName }}">
                        <div class="bundle_info">
                            <h3>{{ bundle.displayName }}</h3>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="home-content">
        <h1>Gros caca</h1>
    </div>

</div>
{% endblock %}
