{% extends 'base.html.twig' %}

{% block title %}Create locker{% endblock %}

{% block body %}

<main class="main-create-locker">
    <div class="locker-create-dispose">
        <h2>Créer un casier</h2>
        <div class="form-create-locker">
            {{ form_start(form) }}

                <div>
                    <label>
                        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.0" viewBox="0 0 150 150" class="platform-icon platform-riot icon"><path d="M80.115 8.324 0 45.356l19.96 75.96 15.265-1.897-4.245-47.69 5.058-2.258 8.58 48.774 25.923-3.162-4.607-52.657 4.878-2.167 9.483 53.65 26.284-3.251-5.058-57.715 4.967-2.168 10.387 58.618 25.922-3.161V24.04zM82.011 123.393l1.265 7.497 59.521 9.935v-24.838l-60.695 7.406z"></path></svg>
                    </label>
                    {{ form_row(form.name) }}

                </div>
                <button type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon"><path d="M19.07 4.93a10 10 0 0 0-14.141 0 10 10 0 0 0 0 14.141 10 10 0 0 0 14.141 0 10 10 0 0 0 0-14.141M12 20.437A8.437 8.437 0 1 1 20.437 12 8.447 8.447 0 0 1 12 20.437m.781-9.219h4.3v1.563h-4.3v4.3h-1.562v-4.3h-4.3v-1.562h4.3v-4.3h1.563Z"></path></svg>
                    Créer
                </button>

            {{ form_end(form) }}

            
        </div>
    </div>
    
</main>

{% endblock %}